{% load static %}

{% block content %}
{% endblock %}
<!-- Bottom Navigation -->
<nav class="bottom-nav">
    <a href="{% url 'dashboard' %}" class="nav-item {% if active_page == 'dashboard' %}active{% endif %}">
        <i class="fa-solid fa-house"></i>
        <span>Home</span>
    </a>
    <a href="{% url 'scan' %}" class="nav-item {% if active_page == 'scan' %}active{% endif %}">
        <i class="fa-solid fa-file"></i>
        <span>Scan</span>
    </a>
    <a href="{% url 'web-protection' %}" class="nav-item {% if active_page == 'web' %}active{% endif %}">
        <i class="fa-solid fa-globe"></i>
        <span>Web</span>
    </a>
    <a href="{% url 'alerts' %}" class="nav-item {% if active_page == 'alerts' %}active{% endif %}">
        <i class="fa-solid fa-bell"></i>
        <span>Alerts</span>
    </a>
    <a href="{% url 'menu' %}" class="nav-item {% if active_page == 'menu' %}active{% endif %}">
        <i class="fa-solid fa-bars"></i>
        <span>Menu</span>
    </a>
</nav>
</body>

</html>